	<section id="cd-intro">
		<div id="cd-intro-background"></div>
		<div id="cd-intro-tagline">
			<h1>РАЗРАБОТКА САЙТОВ</h1>
			<h2>Откроем новые горизонты вашего бизнеса</h3>
				<hr class="intro-divider">
		</div> <!-- cd-intro-tagline -->
	</section> <!-- #cd-intro -->

	<main class="cd-content">
		<a name="services"></a>
		<div class="cd-container-a">
			<h2>НАШИ УСЛУГИ</h2>
			<hr class="section-heading-spacer">
			<div>
				<h3>Landing Page</h3>
				<ul>
					<li>Дизайн сайта</li>
					<li>Программирование</li>
					<li>Установка на CMS</li>
					<li>Настройка на хостинге</li>
				</ul>
			</div>	
			<div>
				<h3>Бизнес комплект</h3>
				<ul>
					<li>Дизайн сайта</li>
					<li>Верстка</li>
					<li>Настройка галереи</li>
					<li>Программирование</li>
					<li>Установка на CMS</li>
					<li>Настройка на хостинге</li>
				</ul>
			</div>
			<div>
				<h3>Интернет-магазин</h3>
				<ul>
					<li>Дизайн сайта</li>
					<li>Верстка</li>
					<li>Настройка модулей магазина</li>
					<li>Программирование</li>
					<li>Установка на CMS</li>
					<li>Настройка на хостинге</li>
				</ul>
			</div>
		</div>

		<a name="portfolio"></a>
		<div class="cd-container-b">
			<h2>Портфолио</h2>
			<hr class="section-heading-spacer">
			<div>
				<img src="https://goo.gl/0uWKhd" width="400" height="400">
				<img src="https://goo.gl/XQKyNF" width="400" height="400">
				<img src="https://goo.gl/D0LJ5A" width="400" height="400">
			</div>
	    </div>

	    <a name="contacts"></a>
	    <div class="cd-container-c">
	    	<h2>Контакты</h2>
	    	<h3>email: startsites@yandex.by</h3>
	    	<h3>skype: startsites</h3>
	    	<h3>тел.: 8 (017) 234-42-42</h3>

	    </div>
	</main> <!-- cd-content -->
