	<header class="cd-header">
		<div id="cd-logo"><a href="#0">StartSites</a></div>

		<nav class="cd-main-nav">
			<ul>
				<!-- inser more links here -->
				<li><a href="#services">Услуги</a></li>
				<li><a href="#portfolio">Порфолио</a></li>
				
				<li><a href="#contacts">Контакты</a></li>
				
			</ul>
		</nav> <!-- cd-main-nav -->
	</header>